<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JobSyncYAMAHA_EA.Properties.Settings.WolfApproveCore_eadoc_prdConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=WolfApproveCore.ypmt-prd;Persist Security Info=True;User ID=sa;Password=pass@word1;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="JobSyncYAMAHA_EA.Properties.Settings.WolfApproveCore_QAR2ConnectionString"
            connectionString="Data Source=DESKTOP-11POHA7\SQLEXPRESS;Initial Catalog=WolfApproveCore.QAR2;Persist Security Info=True;User ID=sa;Password=pass@word1;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	<appSettings>
		<add key="ConnectionString" value=""/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>